In [1]:
#Import libraries 
import os
import pandas as pd
import numpy as np

from pylab import rcParams
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

In [28]:
#read dataset
df=pd.read_csv("C:/Users/DELL/Desktop/Master_FIEK/Machine Learning/FreeCodeCamp.csv",low_memory=False)

In [29]:
#Top rows of the dataset 
df.head()

,ID,is_software_dev,is_first_dev_job,months_job_search,job_pref,job_intr_fllstck,job_intr_backend,job_intr_frntend,job_intr_mobile,job_intr_devops,job_intr_datasci,job_intr_teacher,job_intr_qa_engn,job_intr_ux_engn,job_intr_projm,job_intr_gamedev,job_intr_infosec,job_intr_dataengn,expected_earn,job_lctn_pref,job_relocate,reasons_to_code,reasons_to_code_other,rsrc_fcc,rsrc_mdn,rsrc_so,rsrc_edx,rsrc_coursera,rsrc_khan_acdm,rsrc_codeacdm,rsrc_udacity,rsrc_udemy,rsrc_frntendmstr,rsrc_lynda,rsrc_egghead,rsrc_css_tricks,rsrc_other,codeevnt_other,yt_codingtuts360,yt_codingtrain,yt_derekbanas,yt_googledevs,yt_other,hours_learning,months_programming,bootcamp_attend,money_for_learning,age,gender,gender_other,country_citizen,country_live,live_city_population,is_ethnic_minority,lang_at_home,school_degree,school_major,marital_status,has_finance_depends,has_children,num_children,do_finance_support,debt_amt,home_mrtg_has,home_mrtg_owe,student_debt_has,student_debt_amt,curr_emplymnt,curr_emplymnt_other,curr_field,last_yr_income,communite_time,is_self_employed,has_served_military,is_recv_disab_bnft,has_high_spd_ntnet,time_start,time_end,network_id,time_total_sec
0,64e4170f7f25253d56019818b7e9fdc0,0.0,NaN,NaN,freelance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,8,0.0,500.0,45,Female,NaN,United States of America,United States of America,"between 100,000 and 1 million",1.0,English,bachelor's degree,Management Information Systems,married or domestic partnership,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,Employed for wages,NaN,finance,70000.0,15 to 29 minutes,0.0,0.0,0.0,1.0,2018-10-24T20:48:37Z,2018-10-24T20:55:53Z,4fc684f97d,436
1,bc030166e4c7f8cb045c28ee98d5a6cd,0.0,NaN,NaN,work for a medium-sized company,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45000.0,in an office with other developers,0.0,To change careers,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W3schools,NaN,NaN,NaN,NaN,NaN,NaN,30.0,7,0.0,150.0,34,Female,NaN,Germany,Germany,more than 1 million,0.0,German,master's degree (non-professional),Environmental Science,married or domestic partnership,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,Not working but looking for work,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2018-10-24T19:55:23Z,2018-10-24T20:05:57Z,f2b0eef42a,634
2,d23d65229c00192bb5a48e73c558a0bb,0.0,NaN,NaN,work for a multinational corporation,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,70000.0,in an office with other developers,1.0,As a hobby,NaN,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,12.0,4,0.0,100.0,24,Male,NaN,Nigeria,Nigeria,more than 1 million,0.0,English,associate's degree,Civil Engineering,"single, never married",0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Not working but looking for work,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2018-10-24T19:03:57Z,2018-10-24T19:14:08Z,b1cb01d6fd,611
3,c601014027aa378a84a8e4047cab50e3,0.0,NaN,NaN,freelance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,30.0,14,0.0,200.0,38,Male,NaN,Serbia,Serbia,"between 100,000 and 1 million",0.0,Serbian,"some college credit, no degree",Electrical and Electronics Engineering,married or domestic partnership,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,A stay-at-home parent or homemaker,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2018-10-24T18:40:56Z,2018-10-24T18:48:54Z,f7878cd625,478
4,3a461a8244498a13964071d93ab977ea,1.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,18,0.0,250.0,36,Male,NaN,Bosnia & Herzegovina,Bosnia & Herzegovina,"between 100,000 and 1 million",0.0,Serbian,"some college credit, no degree",Electrical Engineering,married or domestic partnership,1.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,Employed for wages,NaN,software development and IT,9000.0,30 to 44 minutes,0.0,0.0,0.0,1.0,2018-10-24T17:54:59Z,2018-10-24T18:03:42Z,94ae3fc502,523

In [30]:
#check columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 80 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     28397 non-null  object
 1   is_software_dev        28117 non-null  float64
 2   is_first_dev_job       4691 non-null   float64
 3   months_job_search      4611 non-null   float64
 4   job_pref               23408 non-null  object
 5   job_intr_fllstck       7327 non-null   float64
 6   job_intr_backend       4979 non-null   float64
 7   job_intr_frntend       6385 non-null   float64
 8   job_intr_mobile        4365 non-null   float64
 9   job_intr_devops        1930 non-null   float64
 10  job_intr_datasci       3542 non-null   float64
 11  job_intr_teacher       1626 non-null   float64
 12  job_intr_qa_engn       1147 non-null   float64
 13  job_intr_ux_engn       2733 non-null   float64
 14  job_intr_projm         1593 non-null   float64
 15  job_intr_gamedev       3520 non-null   float64
 16  job_intr_infosec       2843 non-null   float64
 17  job_intr_dataengn      2607 non-null   float64
 18  expected_earn          12987 non-null  float64
 19  job_lctn_pref          14005 non-null  object
 20  job_relocate           10957 non-null  float64
 21  reasons_to_code        13265 non-null  object
 22  reasons_to_code_other  548 non-null    object
 23  rsrc_fcc               18042 non-null  float64
 24  rsrc_mdn               7742 non-null   float64
 25  rsrc_so                13449 non-null  float64
 26  rsrc_edx               4600 non-null   float64
 27  rsrc_coursera          5307 non-null   float64
 28  rsrc_khan_acdm         5292 non-null   float64
 29  rsrc_codeacdm          11692 non-null  float64
 30  rsrc_udacity           5105 non-null   float64
 31  rsrc_udemy             10461 non-null  float64
 32  rsrc_frntendmstr       702 non-null    float64
 33  rsrc_lynda             3136 non-null   float64
 34  rsrc_egghead           903 non-null    float64
 35  rsrc_css_tricks        5141 non-null   float64
 36  rsrc_other             2570 non-null   object
 37  codeevnt_other         3260 non-null   object
 38  yt_codingtuts360       1707 non-null   float64
 39  yt_codingtrain         2133 non-null   float64
 40  yt_derekbanas          2041 non-null   float64
 41  yt_googledevs          4575 non-null   float64
 42  yt_other               3358 non-null   object
 43  hours_learning         27305 non-null  float64
 44  months_programming     28397 non-null  int64
 45  bootcamp_attend        28104 non-null  float64
 46  money_for_learning     26808 non-null  float64
 47  age                    28397 non-null  int64
 48  gender                 28090 non-null  object
 49  gender_other           102 non-null    object
 50  country_citizen        27776 non-null  object
 51  country_live           27863 non-null  object
 52  live_city_population   28045 non-null  object
 53  is_ethnic_minority     27911 non-null  float64
 54  lang_at_home           27643 non-null  object
 55  school_degree          28059 non-null  object
 56  school_major           20087 non-null  object
 57  marital_status         27953 non-null  object
 58  has_finance_depends    27938 non-null  float64
 59  has_children           8080 non-null   float64
 60  num_children           3254 non-null   float64
 61  do_finance_support     8041 non-null   float64
 62  debt_amt               27875 non-null  float64
 63  home_mrtg_has          11352 non-null  float64
 64  home_mrtg_owe          2738 non-null   float64
 65  student_debt_has       11269 non-null  float64
 66  student_debt_amt       5383 non-null   float64
 67  curr_emplymnt          25895 non-null  object
 68  curr_emplymnt_other    1543 non-null   object
 69  curr_field             15816 non-null  object
 70  last_yr_income         14307 non-null  float64
 71  communite_time         16104 non-null  object
 72  is_self_employed       16103 non-null  float64
 73  has_served_military    27688 non-null  float64
 74  is_recv_disab_bnft     27604 non-null  float64
 75  has_high_spd_ntnet     27902 non-null  float64
 76  time_start             28397 non-null  object
 77  time_end               28397 non-null  object
 78  network_id             28397 non-null  object
 79  time_total_sec         28397 non-null  int64
dtypes: float64(53), int64(3), object(24)
memory usage: 17.3+ MB

In [21]:
pd.set_option('display.max_columns', 150)

In [25]:
#check columns 
df_new = df.iloc[:, 0:9]

In [31]:
#identifying null vallues 
df_new.isnull().sum()

ID                        0
is_software_dev         280
is_first_dev_job      23706
months_job_search     23786
job_pref               4989
                      ...
has_high_spd_ntnet      495
time_start                0
time_end                  0
network_id                0
time_total_sec            0
Length: 80, dtype: int64

In [32]:
# Print the columns as list
print(list(df.columns))

['ID', 'is_software_dev', 'is_first_dev_job', 'months_job_search', 'job_pref', 'job_intr_fllstck', 'job_intr_backend', 'job_intr_frntend', 'job_intr_mobile', 'job_intr_devops', 'job_intr_datasci', 'job_intr_teacher', 'job_intr_qa_engn', 'job_intr_ux_engn', 'job_intr_projm', 'job_intr_gamedev', 'job_intr_infosec', 'job_intr_dataengn', 'expected_earn', 'job_lctn_pref', 'job_relocate', 'reasons_to_code', 'reasons_to_code_other', 'rsrc_fcc', 'rsrc_mdn', 'rsrc_so', 'rsrc_edx', 'rsrc_coursera', 'rsrc_khan_acdm', 'rsrc_codeacdm', 'rsrc_udacity', 'rsrc_udemy', 'rsrc_frntendmstr', 'rsrc_lynda', 'rsrc_egghead', 'rsrc_css_tricks', 'rsrc_other', 'codeevnt_other', 'yt_codingtuts360', 'yt_codingtrain', 'yt_derekbanas', 'yt_googledevs', 'yt_other', 'hours_learning', 'months_programming', 'bootcamp_attend', 'money_for_learning', 'age', 'gender', 'gender_other', 'country_citizen', 'country_live', 'live_city_population', 'is_ethnic_minority', 'lang_at_home', 'school_degree', 'school_major', 'marital_status', 'has_finance_depends', 'has_children', 'num_children', 'do_finance_support', 'debt_amt', 'home_mrtg_has', 'home_mrtg_owe', 'student_debt_has', 'student_debt_amt', 'curr_emplymnt', 'curr_emplymnt_other', 'curr_field', 'last_yr_income', 'communite_time', 'is_self_employed', 'has_served_military', 'is_recv_disab_bnft', 'has_high_spd_ntnet', 'time_start', 'time_end', 'network_id', 'time_total_sec']

In [33]:
#check columns 
df_new = df.iloc[:, 9:18]
#identifying null vallues 
df_new.isnull().sum()

job_intr_devops      26467
job_intr_datasci     24855
job_intr_teacher     26771
job_intr_qa_engn     27250
job_intr_ux_engn     25664
job_intr_projm       26804
job_intr_gamedev     24877
job_intr_infosec     25554
job_intr_dataengn    25790
dtype: int64

In [35]:
#remove some of the columns that have high% of missing data 
df=df.drop(['is_first_dev_job', 'months_job_search','job_intr_backend','job_intr_fllstck','job_intr_frntend','job_intr_mobile','job_intr_devops','job_intr_teacher','job_intr_qa_engn','job_intr_projm','job_intr_infosec'], axis = 1)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 69 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     28397 non-null  object
 1   is_software_dev        28117 non-null  float64
 2   job_pref               23408 non-null  object
 3   job_intr_datasci       3542 non-null   float64
 4   job_intr_ux_engn       2733 non-null   float64
 5   job_intr_gamedev       3520 non-null   float64
 6   job_intr_dataengn      2607 non-null   float64
 7   expected_earn          12987 non-null  float64
 8   job_lctn_pref          14005 non-null  object
 9   job_relocate           10957 non-null  float64
 10  reasons_to_code        13265 non-null  object
 11  reasons_to_code_other  548 non-null    object
 12  rsrc_fcc               18042 non-null  float64
 13  rsrc_mdn               7742 non-null   float64
 14  rsrc_so                13449 non-null  float64
 15  rsrc_edx               4600 non-null   float64
 16  rsrc_coursera          5307 non-null   float64
 17  rsrc_khan_acdm         5292 non-null   float64
 18  rsrc_codeacdm          11692 non-null  float64
 19  rsrc_udacity           5105 non-null   float64
 20  rsrc_udemy             10461 non-null  float64
 21  rsrc_frntendmstr       702 non-null    float64
 22  rsrc_lynda             3136 non-null   float64
 23  rsrc_egghead           903 non-null    float64
 24  rsrc_css_tricks        5141 non-null   float64
 25  rsrc_other             2570 non-null   object
 26  codeevnt_other         3260 non-null   object
 27  yt_codingtuts360       1707 non-null   float64
 28  yt_codingtrain         2133 non-null   float64
 29  yt_derekbanas          2041 non-null   float64
 30  yt_googledevs          4575 non-null   float64
 31  yt_other               3358 non-null   object
 32  hours_learning         27305 non-null  float64
 33  months_programming     28397 non-null  int64
 34  bootcamp_attend        28104 non-null  float64
 35  money_for_learning     26808 non-null  float64
 36  age                    28397 non-null  int64
 37  gender                 28090 non-null  object
 38  gender_other           102 non-null    object
 39  country_citizen        27776 non-null  object
 40  country_live           27863 non-null  object
 41  live_city_population   28045 non-null  object
 42  is_ethnic_minority     27911 non-null  float64
 43  lang_at_home           27643 non-null  object
 44  school_degree          28059 non-null  object
 45  school_major           20087 non-null  object
 46  marital_status         27953 non-null  object
 47  has_finance_depends    27938 non-null  float64
 48  has_children           8080 non-null   float64
 49  num_children           3254 non-null   float64
 50  do_finance_support     8041 non-null   float64
 51  debt_amt               27875 non-null  float64
 52  home_mrtg_has          11352 non-null  float64
 53  home_mrtg_owe          2738 non-null   float64
 54  student_debt_has       11269 non-null  float64
 55  student_debt_amt       5383 non-null   float64
 56  curr_emplymnt          25895 non-null  object
 57  curr_emplymnt_other    1543 non-null   object
 58  curr_field             15816 non-null  object
 59  last_yr_income         14307 non-null  float64
 60  communite_time         16104 non-null  object
 61  is_self_employed       16103 non-null  float64
 62  has_served_military    27688 non-null  float64
 63  is_recv_disab_bnft     27604 non-null  float64
 64  has_high_spd_ntnet     27902 non-null  float64
 65  time_start             28397 non-null  object
 66  time_end               28397 non-null  object
 67  network_id             28397 non-null  object
 68  time_total_sec         28397 non-null  int64
dtypes: float64(42), int64(3), object(24)
memory usage: 14.9+ MB

In [37]:
#remove some of the columns that have high% of missing data part II
df=df.drop(['reasons_to_code_other', 'gender_other','curr_emplymnt_other','student_debt_amt','rsrc_frntendmstr'], axis = 1)

In [39]:
print(df.shape)

(28397, 64)

In [42]:
#get percentage of missing data
percent_missing = df.apply(lambda x: 1-(x.count()/x.size))

In [49]:
print(percent_missing*100)

ID                     0.000000
is_software_dev        0.986020
job_pref              17.568757
job_intr_datasci      87.526851
job_intr_ux_engn      90.375744
                        ...
has_high_spd_ntnet     1.743142
time_start             0.000000
time_end               0.000000
network_id             0.000000
time_total_sec         0.000000
Length: 64, dtype: float64

In [50]:
#remove some of the columns that have high% of missing data part III
df=df.drop(['job_intr_datasci', 'job_intr_ux_engn'], axis = 1)

In [51]:
#get percentage of missing data
percent_missing = df.apply(lambda x: 1-(x.count()/x.size))
print(percent_missing*100)

ID                     0.000000
is_software_dev        0.986020
job_pref              17.568757
job_intr_gamedev      87.604324
job_intr_dataengn     90.819453
                        ...
has_high_spd_ntnet     1.743142
time_start             0.000000
time_end               0.000000
network_id             0.000000
time_total_sec         0.000000
Length: 62, dtype: float64

In [52]:
#remove some of the columns that have high% of missing data part III
df=df.drop(['job_intr_gamedev', 'job_intr_dataengn'], axis = 1)

In [53]:
#get percentage of missing data
percent_missing = df.apply(lambda x: 1-(x.count()/x.size))
print(percent_missing*100)

ID                       0.000000
is_software_dev          0.986020
job_pref                17.568757
expected_earn           54.266296
job_lctn_pref           50.681410
job_relocate            61.414938
reasons_to_code         53.287319
rsrc_fcc                36.465120
rsrc_mdn                72.736557
rsrc_so                 52.639363
rsrc_edx                83.801106
rsrc_coursera           81.311406
rsrc_khan_acdm          81.364229
rsrc_codeacdm           58.826637
rsrc_udacity            82.022749
rsrc_udemy              63.161602
rsrc_lynda              88.956580
rsrc_egghead            96.820087
rsrc_css_tricks         81.895975
rsrc_other              90.949748
codeevnt_other          88.519914
yt_codingtuts360        93.988802
yt_codingtrain          92.488643
yt_derekbanas           92.812621
yt_googledevs           83.889143
yt_other                88.174807
hours_learning           3.845477
months_programming       0.000000
bootcamp_attend          1.031799
money_for_learning       5.595662
age                      0.000000
gender                   1.081100
country_citizen          2.186851
country_live             1.880480
live_city_population     1.239568
is_ethnic_minority       1.711448
lang_at_home             2.655210
school_degree            1.190267
school_major            29.263655
marital_status           1.563545
has_finance_depends      1.616368
has_children            71.546290
num_children            88.541043
do_finance_support      71.683629
debt_amt                 1.838222
home_mrtg_has           60.023946
home_mrtg_owe           90.358136
student_debt_has        60.316231
curr_emplymnt            8.810790
curr_field              44.303976
last_yr_income          49.617917
communite_time          43.289784
is_self_employed        43.293306
has_served_military      2.496743
is_recv_disab_bnft       2.792549
has_high_spd_ntnet       1.743142
time_start               0.000000
time_end                 0.000000
network_id               0.000000
time_total_sec           0.000000
dtype: float64

In [54]:
#remove some of the columns that have high% of missing data part III
df=df.drop(['rsrc_edx', 'rsrc_lynda','rsrc_egghead','rsrc_css_tricks','rsrc_other','codeevnt_other','yt_codingtuts360','yt_codingtrain','yt_derekbanas','yt_googledevs', 'yt_other'], axis = 1)

In [55]:
#get percentage of missing data
percent_missing = df.apply(lambda x: 1-(x.count()/x.size))
print(percent_missing*100)

ID                       0.000000
is_software_dev          0.986020
job_pref                17.568757
expected_earn           54.266296
job_lctn_pref           50.681410
job_relocate            61.414938
reasons_to_code         53.287319
rsrc_fcc                36.465120
rsrc_mdn                72.736557
rsrc_so                 52.639363
rsrc_coursera           81.311406
rsrc_khan_acdm          81.364229
rsrc_codeacdm           58.826637
rsrc_udacity            82.022749
rsrc_udemy              63.161602
hours_learning           3.845477
months_programming       0.000000
bootcamp_attend          1.031799
money_for_learning       5.595662
age                      0.000000
gender                   1.081100
country_citizen          2.186851
country_live             1.880480
live_city_population     1.239568
is_ethnic_minority       1.711448
lang_at_home             2.655210
school_degree            1.190267
school_major            29.263655
marital_status           1.563545
has_finance_depends      1.616368
has_children            71.546290
num_children            88.541043
do_finance_support      71.683629
debt_amt                 1.838222
home_mrtg_has           60.023946
home_mrtg_owe           90.358136
student_debt_has        60.316231
curr_emplymnt            8.810790
curr_field              44.303976
last_yr_income          49.617917
communite_time          43.289784
is_self_employed        43.293306
has_served_military      2.496743
is_recv_disab_bnft       2.792549
has_high_spd_ntnet       1.743142
time_start               0.000000
time_end                 0.000000
network_id               0.000000
time_total_sec           0.000000
dtype: float64

In [56]:
#remove some of the columns that have high% of missing data part III
df=df.drop(['rsrc_coursera', 'rsrc_khan_acdm','rsrc_udacity','rsrc_mdn'], axis = 1)

In [57]:
df.shape

(28397, 45)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 45 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    28397 non-null  object
 1   is_software_dev       28117 non-null  float64
 2   job_pref              23408 non-null  object
 3   expected_earn         12987 non-null  float64
 4   job_lctn_pref         14005 non-null  object
 5   job_relocate          10957 non-null  float64
 6   reasons_to_code       13265 non-null  object
 7   rsrc_fcc              18042 non-null  float64
 8   rsrc_so               13449 non-null  float64
 9   rsrc_codeacdm         11692 non-null  float64
 10  rsrc_udemy            10461 non-null  float64
 11  hours_learning        27305 non-null  float64
 12  months_programming    28397 non-null  int64
 13  bootcamp_attend       28104 non-null  float64
 14  money_for_learning    26808 non-null  float64
 15  age                   28397 non-null  int64
 16  gender                28090 non-null  object
 17  country_citizen       27776 non-null  object
 18  country_live          27863 non-null  object
 19  live_city_population  28045 non-null  object
 20  is_ethnic_minority    27911 non-null  float64
 21  lang_at_home          27643 non-null  object
 22  school_degree         28059 non-null  object
 23  school_major          20087 non-null  object
 24  marital_status        27953 non-null  object
 25  has_finance_depends   27938 non-null  float64
 26  has_children          8080 non-null   float64
 27  num_children          3254 non-null   float64
 28  do_finance_support    8041 non-null   float64
 29  debt_amt              27875 non-null  float64
 30  home_mrtg_has         11352 non-null  float64
 31  home_mrtg_owe         2738 non-null   float64
 32  student_debt_has      11269 non-null  float64
 33  curr_emplymnt         25895 non-null  object
 34  curr_field            15816 non-null  object
 35  last_yr_income        14307 non-null  float64
 36  communite_time        16104 non-null  object
 37  is_self_employed      16103 non-null  float64
 38  has_served_military   27688 non-null  float64
 39  is_recv_disab_bnft    27604 non-null  float64
 40  has_high_spd_ntnet    27902 non-null  float64
 41  time_start            28397 non-null  object
 42  time_end              28397 non-null  object
 43  network_id            28397 non-null  object
 44  time_total_sec        28397 non-null  int64
dtypes: float64(24), int64(3), object(18)
memory usage: 9.7+ MB

In [59]:
#get percentage of missing data
percent_missing = df.apply(lambda x: 1-(x.count()/x.size))
print(percent_missing*100)

ID                       0.000000
is_software_dev          0.986020
job_pref                17.568757
expected_earn           54.266296
job_lctn_pref           50.681410
job_relocate            61.414938
reasons_to_code         53.287319
rsrc_fcc                36.465120
rsrc_so                 52.639363
rsrc_codeacdm           58.826637
rsrc_udemy              63.161602
hours_learning           3.845477
months_programming       0.000000
bootcamp_attend          1.031799
money_for_learning       5.595662
age                      0.000000
gender                   1.081100
country_citizen          2.186851
country_live             1.880480
live_city_population     1.239568
is_ethnic_minority       1.711448
lang_at_home             2.655210
school_degree            1.190267
school_major            29.263655
marital_status           1.563545
has_finance_depends      1.616368
has_children            71.546290
num_children            88.541043
do_finance_support      71.683629
debt_amt                 1.838222
home_mrtg_has           60.023946
home_mrtg_owe           90.358136
student_debt_has        60.316231
curr_emplymnt            8.810790
curr_field              44.303976
last_yr_income          49.617917
communite_time          43.289784
is_self_employed        43.293306
has_served_military      2.496743
is_recv_disab_bnft       2.792549
has_high_spd_ntnet       1.743142
time_start               0.000000
time_end                 0.000000
network_id               0.000000
time_total_sec           0.000000
dtype: float64

In [60]:
#remove some of the columns that have high% of missing data part III
df=df.drop(['job_relocate', 'rsrc_udemy','has_children','num_children','do_finance_support', 'home_mrtg_owe','student_debt_has'], axis = 1)

In [61]:
df.shape

(28397, 38)

In [62]:
df.head()

,ID,is_software_dev,job_pref,expected_earn,job_lctn_pref,reasons_to_code,rsrc_fcc,rsrc_so,rsrc_codeacdm,hours_learning,months_programming,bootcamp_attend,money_for_learning,age,gender,country_citizen,country_live,live_city_population,is_ethnic_minority,lang_at_home,school_degree,school_major,marital_status,has_finance_depends,debt_amt,home_mrtg_has,curr_emplymnt,curr_field,last_yr_income,communite_time,is_self_employed,has_served_military,is_recv_disab_bnft,has_high_spd_ntnet,time_start,time_end,network_id,time_total_sec
0,64e4170f7f25253d56019818b7e9fdc0,0.0,freelance,NaN,NaN,NaN,1.0,NaN,NaN,4.0,8,0.0,500.0,45,Female,United States of America,United States of America,"between 100,000 and 1 million",1.0,English,bachelor's degree,Management Information Systems,married or domestic partnership,1.0,0.0,NaN,Employed for wages,finance,70000.0,15 to 29 minutes,0.0,0.0,0.0,1.0,2018-10-24T20:48:37Z,2018-10-24T20:55:53Z,4fc684f97d,436
1,bc030166e4c7f8cb045c28ee98d5a6cd,0.0,work for a medium-sized company,45000.0,in an office with other developers,To change careers,NaN,1.0,NaN,30.0,7,0.0,150.0,34,Female,Germany,Germany,more than 1 million,0.0,German,master's degree (non-professional),Environmental Science,married or domestic partnership,1.0,0.0,NaN,Not working but looking for work,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2018-10-24T19:55:23Z,2018-10-24T20:05:57Z,f2b0eef42a,634
2,d23d65229c00192bb5a48e73c558a0bb,0.0,work for a multinational corporation,70000.0,in an office with other developers,As a hobby,1.0,1.0,1.0,12.0,4,0.0,100.0,24,Male,Nigeria,Nigeria,more than 1 million,0.0,English,associate's degree,Civil Engineering,"single, never married",0.0,0.0,NaN,Not working but looking for work,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2018-10-24T19:03:57Z,2018-10-24T19:14:08Z,b1cb01d6fd,611
3,c601014027aa378a84a8e4047cab50e3,0.0,freelance,NaN,NaN,NaN,1.0,1.0,1.0,30.0,14,0.0,200.0,38,Male,Serbia,Serbia,"between 100,000 and 1 million",0.0,Serbian,"some college credit, no degree",Electrical and Electronics Engineering,married or domestic partnership,1.0,0.0,NaN,A stay-at-home parent or homemaker,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2018-10-24T18:40:56Z,2018-10-24T18:48:54Z,f7878cd625,478
4,3a461a8244498a13964071d93ab977ea,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,20.0,18,0.0,250.0,36,Male,Bosnia & Herzegovina,Bosnia & Herzegovina,"between 100,000 and 1 million",0.0,Serbian,"some college credit, no degree",Electrical Engineering,married or domestic partnership,1.0,0.0,NaN,Employed for wages,software development and IT,9000.0,30 to 44 minutes,0.0,0.0,0.0,1.0,2018-10-24T17:54:59Z,2018-10-24T18:03:42Z,94ae3fc502,523

In [63]:
#drop columns that don't represent useful information for our project
df=df.drop(['time_start', 'time_end','network_id','time_total_sec','communite_time'], axis = 1)

In [64]:
df.shape

(28397, 33)

In [67]:
#get unique values for filed texts to check if needed to standardize data
df.job_pref.unique()

array([nan, 'To change careers', 'As a hobby',
       'To succeed in current career', 'To create art or entertainment',
       'To start a business or to freelance',
       'To meet school requirements', 'choice 7',
       'To be more successful in my current career',
       'To start a business', 'Career change'], dtype=object)

In [69]:
df.reasons_to_code.unique()

array([nan, 'To change careers', 'As a hobby',
       'To succeed in current career', 'To create art or entertainment',
       'To start a business or to freelance',
       'To meet school requirements', 'choice 7',
       'To be more successful in my current career',
       'To start a business', 'Career change'], dtype=object)

In [70]:
df.job_lctn_pref.unique()

array([nan, 'in an office with other developers', 'no preference',
       'from home'], dtype=object)